
div #events{
	background: #4191e2;
}

section div #external-event{
	background: #4188cf;
}

#tabla-mail a {
	color: #4191e2;
}

#remitente a{
	color: #4191e2;
}

.attchments{
	color: #4191e2;
}